.page {
  font-family: $osl;
  font-size: 14px;
  background: #fff;
  color: $light-grey;
}
.page__header {
  color: #fff;
}
.page__slider {

}
.page__info {
  font-family: $osb;
  border-bottom: 1px solid $light-grey;
}
.page__content {

}
.page__footer-top {
  background-color: $black;
  font-family: $osl;
}
.page__footer-bottom {
  background-color: #fff;
}